.navbar-custom {
	background-image: none;
	background-color: #9bbbef;
	color: #080808;
	border-radius: 0;
	border-color: #080808;
	font-family: 'Maven Pro', sans-serif;
}

.navbar-custom .navbar-nav>li>a {
	color: #000;
}

.navbar-custom .navbar-nav>.active>a, .navbar-nav>.active>a:hover,
	.navbar-nav>.active>a:focus {
	color: #fff;
	background-color: rgba(255, 255, 255, .1);
}

.navbar-custom .navbar-toggle {
	border-color: #080808;
}

.navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:hover {
   background-color: rgba(255, 255, 255, .4);
}

.navbar-custom .navbar-toggle .icon-bar {
	background-color: #000;
}

.nav>li>a:hover, .nav>li>a:focus {
	background-color: rgba(255, 255, 255, .1);
}